.form-message {
    padding: 20px;
    /* max-width: 70%; */
    margin-right: auto;
    box-shadow: 3px 3px 8px -3px rgb(105 104 136), 2px 11px 17px 5px rgb(0 0 0), 0px 5px 22px 4px rgba(0,0,0,0.12) !important;
}

.form-message .MuiInputLabel-formControl {
    right: 30px;
}

.form-message legend {
    text-align: right !important;
}

.form-message .MuiInputLabel-shrink {
    transform-origin: top right;
}

.form-message .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75) !important;
}

.form-message .button-send-message {
    margin-top: 20px !important;
    margin-right: calc(50% - 32px) !important;
}