.incorrectInput .MuiOutlinedInput-notchedOutline,
.incorrectInput .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: red;
}

.form-signin .MuiInputLabel-formControl {
    right: 30px;
}

.form-signin legend {
    text-align: right !important;
}

.form-signin .MuiInputLabel-shrink {
    transform-origin: top right;
}

/* .form-signin .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75) !important;
} */